{% extends 'base_producer.html' %}

{% block body %}
<div class="container">
    <h1>Pending</h1>
        <table class="table">
            <thead>
                  <tr>
                <th>Production nr.</th>
                <th>Article nr.</th>
                <th>Article name</th>
                <th>Amount</th>
                <!--<th>Price</th>  Producer is not allowed to see the price before the matching! -->
                <th>Customer</th>
                <th>Duration</th>
                <!--<th>Target start date</th>-->
                <th>Target end date</th>
                <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in articles_pending %}
                        <tr>
                          <td>{{ item.0 }}</td>
                          <td>{{ item.1 }}</td>
                          <td>{{ item.2 }}</td>
                          <td>{{ item.3 }} </td>
                          <!--<td>{{ item.4|floatformat:2 }} €</td>-->
                          <td>{{ item.5 }}</td>
                          <td>{{ item.6 }}</td>
                          <!--<td>{{ item.7 }}</td>-->
                          <td>{{ item.8 }}</td>
                          <td>{{ item.9 }}</td>
                        </tr>
                  {% endfor %}
                </tbody>
        </table>
     <h1>In production</h1>
        <table class="table">
            <thead>
                  <tr>
                <th>Production nr.</th>
                <th>Article nr.</th>
                <th>Article name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Customer</th>
                <th>Machine name</th>
                <th>Duration</th>
                <!--<th>Target start date</th>-->
                <th>Target end date</th>
                <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in articles_inproduction %}
                        <tr>
                          <td>{{ item.0 }}</td>
                          <td>{{ item.1 }}</td>
                          <td>{{ item.2 }}</td>
                          <td>{{ item.3 }}</td>
                          <td>{{ item.4|floatformat:2 }} €</td>
                          <td>{{ item.5 }}</td>
                          <td>{{ item.6 }}</td>
                          <td>{{ item.7 }} days</td>
                          <!--<td>{{ item.8 }}</td>-->
                          <td>{{ item.9 }}</td>
                          <td>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" type="button" id="safestatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.10 }}<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="safestatus">
                                    <li><a href="{% url 'safe_status' item_id=item.11 new_status=1 %}">pending</a></li>
                                    <li><a href="{% url 'safe_status' item_id=item.11 new_status=2 %}">done</a></li>
                                </ul>
                            </div>


                          </td>
                        </tr>
                  {% endfor %}
                </tbody>
        </table>
     <h1>Canceled</h1>
        <table class="table">
            <thead>
                  <tr>
                <th>Production nr.</th>
                <th>Article nr.</th>
                <th>Article name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Customer</th>
                <th>Machine name</th>
                <th>Duration</th>
                <!--<th>Target start date</th>-->
                <th>Target end date</th>
                <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in articles_canceled %}
                        <tr>
                          <td>{{ item.0 }}</td>
                          <td>{{ item.1 }}</td>
                          <td>{{ item.2 }}</td>
                          <td>{{ item.3 }}</td>
                          <td>{{ item.4|floatformat:2 }} €</td>
                          <td>{{ item.5 }}</td>
                          <td>{{ item.6 }}</td>
                          <td>{{ item.7 }}</td>
                          <!--<td>{{ item.8 }}</td>-->
                          <td>{{ item.9 }}</td>
                          <td>{{ item.10 }}</td>
                        </tr>
                  {% endfor %}
                </tbody>
        </table>
     <h1>Done</h1>
        <table class="table">
            <thead>
                  <tr>
                <th>Production nr.</th>
                <th>Article nr.</th>
                <th>Article name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Customer</th>
                <th>Machine name</th>
                <th>Duration</th>
                <!--<th>Target start date</th>-->
                <th>Target end date</th>
                <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in articles_done %}
                        <tr>
                          <td>{{ item.0 }}</td>
                          <td>{{ item.1 }}</td>
                          <td>{{ item.2 }}</td>
                          <td>{{ item.3 }}</td>
                          <td>{{ item.4|floatformat:2 }} €</td>
                          <td>{{ item.5 }}</td>
                          <td>{{ item.6 }}</td>
                          <td>{{ item.7 }}</td>
                          <!--<td>{{ item.8 }}</td>-->
                          <td>{{ item.9 }}</td>
                          <td>{{ item.10 }}</td>
                        </tr>
                  {% endfor %}
                </tbody>
        </table>
</div>

{% endblock %}