{% extends 'base_producer.html' %}

{% block body %}

<form class="container" action="/producer/add_machine/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-success myButton" type="submit" value="Hinzufügen" />
</form>
<br/>
<br/>

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<div class="container">
    <table class="table">
        <thead>
              <tr>
                <th>Machine</th>
                <th>Capacity</th>
                  <th class="td-center">Action</th>
              </tr>
            </thead>
            <tbody>
               {% for capacity in capacity_list %}
                    <tr>
                      <td>{{ capacity.machinename }}</td>
                      <td>
                          <form action="{% url 'change_capacity' machine_id=capacity.pk %}" method="post">{% csrf_token %}
                          <input type="number" name=new_capacity id="new_capacity" step="1" value="{{capacity.capacity}}" style="width: 5em;" />
                          <input class="btn btn-success myButton" type="submit" value="Save"/>
                          </form>
                      </td>
                      <td class="td-center"><a class="glyphicon glyphicon-trash" href="{% url 'delete_machine' machine_id=capacity.pk %}"></a></td>
                    </tr>
              {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}