{% extends 'base_producer.html' %}

{% block body %}

<form action="/producer/capacity/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Hinzufügen" />
</form>
<br/>
<br/>

<div class="container">
    <table class="table">
        <thead>
              <tr>
                <th>Maschine</th>
                <th>Verfügbare Kapazität</th>
              </tr>
            </thead>
            <tbody>
               {% for capacity in capacity_list %}
                    <tr>
                      <td>{{ capacity.pk }}</td>
                      <td>
                          <form action="{% url 'change_capacity' machine_id=capacity.pk %}" method="post">{% csrf_token %}
                          <input type="number" name=new_capacity id="new_capacity" step="1" value="{{capacity.capacity}}" />
                          <input type="submit" value="Change"/>
                          </form>
                      </td>
                      <td><a class="glyphicon glyphicon-trash" href="{% url 'delete_machine' machine_id=capacity.pk %}"></a></td>
                    </tr>
              {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}