{% extends 'base.html' %}

<!-- input field -->
{% block body %}
<form action="/customer/newOrders/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Hinzufügen" />
</form>
<br/>
<br/>


<div class="container">
    <table class="table">
        <thead>
              <tr>
                <th>Artikel</th>
                <th>Anzahl</th>
                <th>Preis</th>
                <th>Erstellungsdatum</th>
                <th>Produktionsstart</th>
                <th>Produktionsende</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                {% for articles in article_list %}
                    <tr>
                      <td>{{ articles.article_id }}</td>
                      <td>{{ articles.amount }}</td>
                      <td>{{ articles.price_offer}}</td>
                      <td>{{ articles.create_date }}</td>
                      <td>{{ articles.start_date }}</td>
                      <td>{{ articles.end_date }}</td>
                      <td>{{ articles.status }}</td>
                    </tr>
              {% endfor %}
            </tbody>
          </table>
</div>

{% endblock %}