{% extends 'base.html' %}

<!-- input field -->
{% block body %}
<form action="/customer/newOrders/" method="post">
    {% csrf_token %} Enter Production Number:
    <select name="dropdown"> {% for production_numbers in production_numbers %}
        <option value="{{ production_numbers }}"> {{production_numbers}} </option> {% endfor %}
    </select>

    <input type="submit" value="Hinzufügen" />

</form>

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}

<div class="container">
    <h1>Pending</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Article name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Create date</th>
                <th>Target start date</th>
                <th>Target end date</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for articles_pending in articles_pending %}
            <tr>
                <td>{{ articles_pending.article_nr }}</td>
                <td>{{ articles_pending.article_name }}</td>
                <td>{{ articles_pending.amount }}</td>
                <td>{{ articles_pending.price_offer|floatformat:2 }} €</td>
                <td>{{ articles_pending.create_date }}</td>
                <td>{{ articles_pending.start_date }}</td>
                <td>{{ articles_pending.end_date }}</td>
                <td>{{ articles_pending.status }}</td>
                <td>
                    <a class="glyphicon glyphicon-trash" href="{% url 'delete_item' item_id=articles_pending.pk %}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}