{% extends 'base.html' %}

<!-- input field -->
{% block body %}
<form action="/customer/newOrders/" method="post" value="10">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Hinzufügen" />
</form>
<br/>
<br/>

<div class="container">
    <h1>Pending</h1>
    <table class="table">
        <thead>
              <tr>
                <th>Artikel</th>
                <th>Anzahl</th>
                <th>Preis</th>
                <th>Erstellungsdatum</th>
                <th>Produktionsstart</th>
                <th>Produktionsende</th>
                <th>Status</th>
                <th>Löschen</th>
              </tr>
            </thead>
            <tbody>
              {% for articles_pending in articles_pending %}
                <tr>
                  <td>{{ articles_pending.article_id }}</td>
                  <td>{{ articles_pending.amount }}</td>
                  <td>{{ articles_pending.price_offer}}</td>
                  <td>{{ articles_pending.create_date }}</td>
                  <td>{{ articles_pending.start_date }}</td>
                  <td>{{ articles_pending.end_date }}</td>
                  <td>{{ articles_pending.status }}</td>
                  <td><a class="glyphicon glyphicon-trash" href="{% url 'delete_item' item_id=articles_pending.pk %}"></a></td>
                </tr>
              {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}