{% extends 'base.html' %}

{% block body %}
<div class="container">
    <table class="table">
        <thead>
              <tr>
                <th>Artikel</th>
                <th>Anzahl</th>
                <th>Preis</th>
                <th>Erstellungsdatum</th>
                <th>Produktionsstart</th>
                <th>Produktionsende</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ articleID }}</td>
                <td>5</td>
                <td>10 €</td>
                <td>15.07.2017</td>
                <td>30.07.2017</td>
                <td>05.08.2017</td>
              </tr>
              <tr>
                <td>Artikel 2</td>
                <td>4</td>
                <td>14 €</td>
                <td>15.07.2017</td>
                <td>30.07.2017</td>
                <td>05.08.2017</td>
              </tr>
              <tr>
                <td>Artikel 3</td>
                <td>6</td>
                <td>12 €</td>
                <td>15.07.2017</td>
                <td>30.07.2017</td>
                <td>05.08.2017</td>
              </tr>
            </tbody>
          </table>
</div>

{% endblock %}